$box-shadow: 0px 1px 6px 0px rgba(0, 0, 0, 0.1);
$border-radius: 16px;
$counter-color: #828282;

.search-box {
  padding: 0.4em 0.8em 1.2em;
  position: absolute;
  background-color: white;
  right: 0;
  left: 0;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;

    p {
      font-weight: 700;
      font-size: 12px;
    }

    span {
      font-size: 30px;
    }
  }

  &__form {
    border-radius: $border-radius;
    box-shadow: $box-shadow;
  }
  &__input {
    padding: 0.8em 1.2em 0.6em;
    label {
      font-size: 9px;
      line-height: 11px;
      font-weight: 800;
      text-transform: uppercase;
      display: block;
    }

    input {
      border: none;
      outline: none;
    }
  }

  &__locations {
    list-style: none;
    margin-top: 30px;
    margin-bottom: 100px;
    padding-left: 1.2em;
    color: var(--color-font-secondary);

    li {
      display: flex;
      align-items: center;
      margin-bottom: 25px;
      cursor: pointer;
    }
  }

  &__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.8em 1.8em;
    margin: 0 auto;
    border: none;
    outline: none;
    color: white;
    background-color: rgba(235, 87, 87, 0.9);
    box-shadow: $box-shadow;
    border-radius: $border-radius;
  }

  &__btn:hover {
    background-color: rgba(235, 87, 87, 0.7);
  }
}

hr {
  width: 100%;
  margin: 0;
  border: 1px solid #f2f2f2;
}

.close-btn {
  cursor: pointer;
  transition: 0.2s;
}

.close-btn:active {
  color: rgba(235, 87, 87, 0.9);
}

.icon {
  font-size: 22px;
  margin-right: 10px;
}

.guest-counter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0;
  padding: 10px 5px;
  font-size: 14px;
  color: #333;

  &__type,
  span {
    font-weight: 700;
  }

  p {
    margin: 0;
  }

  p:nth-child(2) {
    color: rgba(51, 51, 51, 0.349);
  }

  .counter {
    display: flex;

    align-items: center;
  }

  &__btn {
    background-color: transparent;
    padding: 5px;
    margin: 0 10px;
    border: 1px solid $counter-color;
    color: $counter-color;
    border-radius: 4px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
